/* 
    Document   : loginUsuario
    Created on : 31-Aug-2013, 21:10:00
    Author     : JasonC
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

#errorRegMsg{
    font-size: 1.0em;
    visibility: hidden;
 }
 
 #successfullReg{
     visibility: hidden;
     font-size: 1.0em;
 }
 
 #failedReg{
     visibility: hidden;
     font-size: 1.0em;
 }
 
 #invalidStudentID{
     visibility: hidden;
     font-size: 1.0em;
 }

 #wrongId{
     visibility: hidden;
     font-size: 1.0em;
 }

 #nonCFields{
     visibility: hidden;
     font-size: 1.0em;
 }
 
 #invalidField{
	visibility: hidden;
	font-size: 1.0em;
 }
 
 #prodRegForm{
     alignment-adjust: auto;
     margin-left: auto;
     margin-right: auto;
     
 }
 
 #prodRegForm input{
     width: 400px;
     margin-left: auto;
     margin-right: auto;
 }
 
 #prodRegForm button{
     width: 400px;
     margin-left: auto;
     margin-right: auto;
 }
 
 #prodRegForm label{
     font-family: monospace;
     font-size: 0.7em;
     display: block;
    text-align: center;
          
 }
 
 #okRegMsg{
     visibility: hidden;
 }
 
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#actProdMsg{
    visibility: hidden;
    font-size: 1em;
}

#actProdOk{
    visibility: hidden;
    font-size: 1em;
}

#userRegForm{
    position: relative;
    display: block;
    text-align: center;
}

#userRegForm button{
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#userRegForm input{
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-family: monospace;
    
}

#userRegForm label{
    font-size: 0.8em;
    max-width: 30%;
    font-family: monospace;
    
}

#msgProd{
    visibility: hidden;
    font-size: 0.8em;
}

/*wrapper thingy */

#wrapper {
width: 960px;
margin-left:auto;
margin-right:auto;
}

header {
height: 200px;
}

nav {
width:960px;
}

#content {
float: left;
width:660px;

}

#rightcol {
float: left;
width: 300px;
font-size: 0.5em;
}

footer {
clear:both;
height: 50px;
}

//--end wrapper thingy --

//dinamic list
#tbodyProducto {
    font-size: .2em;
    font-family: monospace;
}

#foot_msg{
    font-size: .8em;
    visibility: hidden;
}

#okPurchase{
    font-size: 0.8em;
    visibility: hidden;
}

#tableBI button{
    min-width: 40px;
    font-family: monospace;
    font-size: .6em;
}

#tableBI h5{
    font-style: initial;
    font-size: 0.6em;
    font-weight: bold;
}